:root {
    --color-white: #fcf4ee; /* ghostwhite */
    --color-light: #d5d1c3; /* slategray silver gray */
    --color-contrast: #6C797A; /* #8c7a69; darkslategray */
    --color-dark: #1a2926; /* #031E1C; #03191e; */
    --color-warning: #6c0f16;
}

body {
    background-color: var(--color-white);
    color: var(--color-contrast);
    font-family: 'Montserrat', sans-serif;
}

p, h4, h5, h6 {
    opacity: 0.7;
}

@media (min-width: 992px) {
    h1 {
        font-size: 5rem;
    }
}

li {
    padding-left: 25px;
}

a {
    color: var(--color-dark);
}

a:hover {
    text-decoration: none;
    color: var(--color-contrast);
}

input {
    color: dimgray;
}

label {
    color: silver;
}

#about .text {
    line-height: 1.5;
}

.bg-color-light {
    background-color: var(--color-light);
}

.bg-color-dark {
    background-color: var(--color-dark);
}

.navbar-dark .navbar-brand {
    color: var(--color-light);
}

.navbar a {
    color: var(--color-light);
}

.navbar a:hover {
    color: var(--color-contrast);
}

