body {
    background-color: ghostwhite;
}

h3 {
    color: slategray;
}

h6 {
    color: silver;
}

p {
    color: gray;
}

#main {
    float: right;
    width: 80%;
    padding: 0 0 0 30px;
}

#nav-sidebar {
    float: left;
    width: 20%;
    padding: 10px;
    background: #efefef;
    height: 100%;
}

ul {
    list-style: none;
    color: gray;
    padding-left: 0;
}

a {
    color: darkslategrey;
}

input {
    color: dimgray;
}
