{% extends "base.html" %}

{% block title %}Overtrick {% block subtitle %}{% endblock %}{% endblock %}

{% block content %}
    <div></div>

    <nav id="nav-sidebar">
        <h3><a href="{% url 'overtrick:index' %}">OverTrick</a></h3>
        {% block nav-sidebar %}{% endblock %}
        <a href="{% url 'overtrick:players-list' %}">Players</a>
        <a href="{% url 'overtrick:sessions-list' %}">Sessions</a>
    </nav>

    <div id="main">
        {% block main %}{% endblock %}
    </div>
{% endblock %}
