{% block content %}
    <h3 class="pb-3">GET IN TOUCH</h3>

    <form method="post" id="contact-form"> {% csrf_token %}
        {% with snip="contact/form-field.html" %}
            <div class="row mb-2">
                {% include snip with field=form.name classes="col-md-6" %}
                {% include snip with field=form.email classes="col-md-6" %}
            </div>
            {% include snip with field=form.message %}
        {% endwith %}

        <div class="mt-4">
            {% if sent %}
                <div class="alert alert-dark mt-4" role="alert">
                    Your message was sent successfully. I'll be in touch.
                </div>
            {% else %}
                <button type="submit" class="btn btn-outline-secondary">
                    SEND MESSAGE
                </button>
            {% endif %}
        </div>
    </form>

{% endblock content %}
