{% block content %}
    <h6>GET IN TOUCH</h6>

    <form method="post" id="contact-form"> {% csrf_token %}
        {% with snip="contact/form-field.html" %}
            <div class="row">
                {% include snip with field=form.name classes="col-5" %}
                {% include snip with field=form.email classes="col-5 offset-2" %}
            </div>
            {% include snip with field=form.message %}
        {% endwith %}
        <button type="submit" class="btn btn-primary">
            SEND MESSAGE
        </button>
    </form>

    {% if sent %}
        <p>Your message was successfully sent. I'll be in touch.</p>
    {% endif %}
{% endblock content %}
