{% extends "base.html" %}
{% load static %}

{% block title %}
    TinyPage {% block subtitle %}{% endblock subtitle %}
{% endblock title %}

{% block stylesheets %}
    <link rel="stylesheet"
          href="{% static 'tinypage/css/social-circles.css' %}"
    >
{% endblock stylesheets %}

{% block content %}
    <section id="navbar" class="bg-dark">
        <a href="{% url 'tinypage:index' %}">TinyPage</a>
    </section>

    <section id="masthead" class="bg-light text-center">
        <h3>BEHIND THE WEB</h3>
        <h6>Back End and Data Developer</h6>
    </section>

    <section id="portfolio">
        <div class="row">
            <div class="col-md-2 offset-md-3 text-center">
                <p><a href="{{ overtrick_url }}">OverTrick</a></p>
            </div>
            <div class="col-md-2 offset-md-2 text-center">
                <p class="text-muted">Mercantile</p>
            </div>
        </div>
    </section>

    <section id="about" class="bg-light text-center">
        <h3>ABOUT</h3>
        <p class="lead">This is important stuff about me.</p>
        <p>This is some other stuff about me.</p>
    </section>

    <section id="contact-form" class="col-6 mx-auto py-5 text-center">
        {% include "contact/message.html" %}
    </section>

    <section id="footer" class="row bg-dark text-center">
        <div class="col-6">
            <h6>Crafted by TinyPage &bull; Powered by Django</h6>
        </div>
        <div class="col-6">
            <a class="icon-linkedin social-button borderless"
               href="https://www.linkedin.com/in/katemckenzie/">
            </a>
            <a class="icon-github social-button borderless"
               href="https://github.com/katemakescode/tinypage">
            </a>
        </div>
    </section>
{% endblock content %}